# Ignore executable files
pplot.exe
pxplot.exe
xfoil.exe

# Ignore ZIP archive
Xfoil699src.zip

# Ignore output folder
xfoil_comprehensive_outputs/
Landing_Data/
Take_off_Data/

#Ignore specific analysis results file
xflr5_analysis_results.csv
taper_ratio_results.csv

# Ignore ALL .exe files in the project
*.exe
